#login-container {
    display: flex;
    padding: 80px 70px;
    justify-content: space-between;
    background-color: #e3e6f3;
}

#login-container > div {
    width: 40%;
}

#login-container .login-logo {
    width: 60%;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-logo img {
    width: 78%;
    margin: 0 auto;
    object-fit: cover;
}

#login-container .login-logo h4 {
    font-weight: 400;
    font-size: 16px;
}

.form {
    min-height: 300px;
    padding: 50px 40px;
    text-align: center;
    background: #fff;
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-heading {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
}

.form-group {
    display: flex;
    margin: 10px 0;
    flex-direction: column;
    width: 100%;
}

.form-label,
.form-message {
    text-align: left;
}

.form-lable {
    font-weight: 600;
    padding-bottom: 6px;
    line-height: 20px;
    font-size: 18px;
    text-align: start;
}

.form-control {
    height: 40px;
    padding: 5px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.form-control:focus {
    border-color: #1dbfaf;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    height: 12px;
    font-size: 12px;
    line-height: 14px;
    padding: 4px 0 0;
}

.form-submit {
    outline: none;
    background-color: #088178;
    margin-top: 5px;
    padding: 12px 16px;
    font-weight: 600;
    color: #e3e6f3;
    border: none;
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #088179dd;
}

.spacer {
    margin-top: 25px;
}

.switch-register-form {
    font-size: 14px;
    margin: 20px 0 4px;
}

.switch-register-form a {
    color: #088178;
    text-decoration: underline;
}

#signUp-container {
    display: none;
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    position: fixed;
    width: 100%;
    justify-content: center;
    z-index: 10;
    top: 0;
    animation: growth ease-in 0.2s;
}

#register-form {
    min-width: 40%;
    padding: 40px 60px;
    border-radius: 6px;
}

.switch-login-form {
    margin: 8px 0 4px 0;
    font-size: 15px;
}

#register-form .spacer {
    margin-top: 15px;
}

#register-form .form-heading {
    font-size: 26px;
}

#register-form .form-group {
    margin: 6px 0;
}

.form-close {
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 35px;
    cursor: pointer;
    z-index: 999;
}

@keyframes growth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
